.link {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    /* identical to box height, or 150% */
    text-transform: capitalize;
    color: #141414;
}

.menu_in_nav {
    width: 30%;
    display: flex;
    justify-content: space-around;
}
