.Map {
    position: relative;
    width: 100%;
    height: 950px;
    background: #ebf3f5;

    display: flex;
    justify-content: center;

    .title_Map_block {
        left: calc(50% - 314px / 2 - 0.1px);
        max-width: 314px;
        position: absolute;
        top: 47px;
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 55px;
        line-height: 72px;
        letter-spacing: 0.66px;
        color: #141414;
    }

    .img_block {
        position: absolute;
        top: 150px;
        left: calc(50% - 1000px / 2 - 0.1px);
        width: 1000px;
        height: 500px;

        .img_map {
            width: 1000px;
            height: 500px;
        }
    }
}

// _______________________________________adaptive________________________

@media (max-width: 900px) {
    .Map {
        width: 100%;
        height: 550px;

        .title_Map_block {
            visibility: visible;
        }

        .img_block {
            width: 390px;
            height: 300px;
            left: calc(50% - 390px / 2 - 0.1px);

            .img_map {
                width: 390px;
                height: 300px;
            }
        }
    }
}
