.Card_list {
    display: block;
    margin-top: 100px;

    .title_in_card_list {
        width: 708px;
        margin-top: 50px;
        margin-left: calc(50% - 708px / 2);
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 58px;
        letter-spacing: 0.45px;
        color: #141414;
    }

    .dropdown {
        margin-top: 50px;
        margin-left: calc(50% - 200px / 2);
        width: 200px;
        height: 50px;
        background-color: #141414;

        .btn {
            border: 2px solid #5c8692;
            background: #ffffff;
            border-radius: 0px;
            box-sizing: border-box;
            height: 50px;
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            text-transform: uppercase;
            color: #141414;
        }
        .btn:hover {
            background-color: #accbd4;
            transition: 0.4s;
        }

        ul {
            width: 200px;
            border: 2px solid #5c8692;
            background: #ffffff;
            border-radius: 0px;

            button {
                height: 50px;
                width: 196px;
                border-radius: 0px;
                border: 0;
                background: #ffffff;
                text-transform: uppercase;
                color: #141414;
                font-size: 15px;
            }

            button:hover {
                background-color: #accbd4;
                transition: 0.4s;
            }
        }
    }

    .block_with_cards {
        padding-top: 100px;

        .row {
            display: flex;
            justify-content: center;

            .col {
                width: 390px;
                display: flex;
                justify-content: center;
            }
        }
    }
}

// _______________________________________adaptive________________________

@media (max-width: 900px) {
    .Card_list {
        visibility: visible;
        margin-top: 10px;

        .title_in_card_list {
            margin-top: 0px;
            width: 300px;
            margin-left: calc(50% - 300px / 2 - 0.1px);
            font-size: 30px;
            line-height: normal;
            text-align: center;
        }

        .block_with_cards {
            padding-top: 100px;
            display: flex;
            justify-content: center;
            align-items: center;

            .row {
                width: 390px;

                .col {
                    padding: 0px;
                }
            }
        }
    }
}
