.PriceListInCart {
    width: 100%;
    background: #ebf3f5;
    display: flex;
    justify-content: center;

    .container {
        width: 1200px;
        height: 100%;

        .row {
            visibility: visible;

            .col {
                visibility: visible;

                .spisok {
                    visibility: visible;

                    .spisok_element {
                        width: 100%;
                        height: 60px;
                        margin-bottom: 10px;
                        position: relative;

                        .checkboxToCart {
                            position: absolute;
                            top: 25px;
                            border: 0;
                        }

                        .element_of_price_list {
                            visibility: visible;

                            .titleInElementPriceList {
                                position: absolute;
                                top: 25px;
                                left: 100px;
                                font-family: 'Playfair Display';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 22px;
                                line-height: 26px;
                                letter-spacing: 0.264px;
                                text-transform: capitalize;
                                color: #141414;
                            }

                            .priceInElementPriceList {
                                position: absolute;
                                top: 25px;
                                left: 350px;
                                font-family: 'Manrope';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 27px;
                                color: #555555;
                            }
                        }

                        .paragraphInElementPriceList,
                        hr {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
