.uniqeProductLink {
    text-decoration: none;

    .titleInElementPriceList {
        text-decoration: none;
    }
    .titleInElementPriceList:hover {
        transition: 0.5s;
        text-decoration: underline;
    }
}
